@import url(./style.css);
.bg-oba{
    background-image: url(../assets/ginuwa.e4765c1eb1bbf7324286.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.no-padding{
    padding: 0!important;
}
.no-margin{
    margin: 0!important;
}
.ginuwa-ruling{
    padding: 48px 24px 24px;
    border-radius: 0px 0px 20px 20px;
    background-color: #fff;
    border: 1px solid;
    width: 100%;
}
.ginuwa-ruling span{
    font-size: .7rem;
}
.ginuwa-ruling input{
    border-radius: 50px;
    width: 100%;
    border: 1.5px solid;
    height: 45px;
    padding: 0px 10px;
    font-size: 1.2rem;
    background: transparent;
    outline: none;
}
.ginuwa-ruling input::placeholder{
    font-size: .7rem;
}
